@import "~bootstrap/scss/bootstrap";

.navbar {
  background-color: rgb(0, 123, 255); 
  height: 70px;
  z-index: 999;
  position: fixed;
  width: 100%;

  .navbarbrand {
    color: rgb(236, 240, 241); 
    font-weight: bold;
    font-size: 30px; 
    
    span{
      color: rgb(4, 251, 107);
    }
  }

  .navbarnav {
    .navlink {
      p{
        font-size: 25px; 
    
        &:hover{
          
          text-decoration: underline;
          font-weight: 300;
          transition: text-decoration 0.5s;
          
        }

      }
      color: rgb(236, 240, 241); 
      
      margin: 0 0px; 
      

      &:hover {
        color: rgb(212, 216, 219); 
        
      }
    }
  }

  .btn1 {
    background-color: rgb(255, 255, 255); 
    color: #000000;
    font-weight: bold;
    font-size: 1.8ch;
    border-radius: 1dvh;
    margin-left: 50px; 
    transition: background-color 0.3s;
    
    &:hover {
      background-color: rgb(135, 136, 136); 
      color: white;
    }
  }

  .btn2 {
    background-color: rgb(52, 214, 71); 
    color: white;
    font-weight: bold;
    font-size: 1.8ch;
    
    border-radius: 1dvh;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgb(135, 136, 136); 
      color: rgb(253, 252, 252);
    }
  }
}


// @import "~bootstrap/scss/bootstrap";
/*.navbar {
  --head-color: rgba(244, 244, 248, 0.986);
  background-color: #eae1e1;
  width: 100%;
  height: 100px;
  position: fixed;
  // padding-top: 30px;
  // padding-bottom: 50px;
z-index: 999;

  .navbarbrand {
    color: #eae1e1;
  }

  .navbarnav {
    .navlink:hover {
      color: rgb(45, 121, 197);
    }

    .navlink {
      color: rgb(240, 237, 237);
      font-size: 2ch;
      font-weight: 600;
      

      .btn1 {
        margin-left: 300px;
        font-size: 2ch;
        font-weight: 600;
        margin-bottom: 50px;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.568);
        transition: 0.5s ease;
      }

      .btn1:hover {
        background-color: rgb(0, 110, 255);
        transform: scale(1.1);
        font-size: 2ch;
        color: white;
      }

      .btn2{
        background: rgba(36, 36, 36, 0.421);
        color: #ffffff;
        
        font-size: 2ch;
        font-weight: 600;

        transition: 0.5s ease;
      }

      .btn2:hover {
        background-color:rgb(0, 110, 255);
        color: white;
        transform: scale(1.1);
        

      }

      .btn2 i {
        color: rgb(0, 0, 0);
        font-size: 1.5ch;
        padding-bottom: 10px;
      }


    }
  }
}*/

/*.navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(29, 163, 118);

  .container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    background-color: #1dbf73;

    .logo {
      font-size: 34px;
      font-weight: bold;

      .text {}

      .dot {
        color: #1dbf73;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-weight: 500;

      button {
        color: rgb(198, 38, 38);
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid rgb(65, 52, 52);
      }
    }
  }
}






// @import "~bootstrap/scss/bootstrap";
/*.navbar {
  --head-color: rgba(106, 104, 119, 0.986);
  background-color: var(--head-color);
  width: 100%;
  height: 70px;
  position: fixed;
  // padding-top: 30px;
  // padding-bottom: 50px;
z-index: 999;

  .navbarbrand {
    color: #eae1e1;
  }

  .navbarnav {
    .navlink:hover {
      color: rgb(45, 121, 197);
    }

    .navlink {
      color: rgb(240, 237, 237);
      font-size: 2ch;
      font-weight: 600;

      .btn1 {
        margin-left: 300px;
        font-size: 2ch;
        font-weight: 600;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.568);
        transition: 0.5s ease;
      }

      .btn1:hover {
        background-color: rgb(0, 110, 255);
        transform: scale(1.1);
        font-size: 2ch;
        color: white;
      }

      .btn2{
        background: rgba(36, 36, 36, 0.421);
        color: #ffffff;
        
        font-size: 2ch;
        font-weight: 600;

        transition: 0.5s ease;
      }

      .btn2:hover {
        background-color:rgb(0, 110, 255);
        color: white;
        transform: scale(1.1);
        

      }

      .btn2 i {
        color: rgb(0, 0, 0);
        font-size: 1.5ch;
        padding-bottom: 10px;
      }


    }
  }
}*/