


.home {

    overflow: hidde;

}

.container {
   
    background-image: url(https://i.pinimg.com/originals/a8/95/d1/a895d143497deab9f5b94834a7d9550a.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    width: 100%;
    height: 110vh;
    margin-bottom: 1px;


    h2 {
        padding-top: 35%;
        font-size: 5ch;
        color: rgb(255, 255, 255);

        span {
            color: rgb(255, 255, 255);
        }
    }

    ul {

        li {
            font-size: 3ch;
            color: rgb(255, 255, 255);
        }
    }

    .button1 {
        background: white;
        width: 18ch;
        color: rgb(0, 0, 0);
        font-size: 2.5ch;
        border-style: solid;
        border-radius: 3dvh;
        border-color: rgba(0, 0, 0, 0);
        border-width: 3px;
        padding: 10px 10px 10px 10px;
        margin-right: 8px;
       
    }

    .button2 {
        background: none;
        width: 19ch;
        color: rgb(0, 0, 0);
        font-size: 2.5ch;
        border-style: solid;
        border-radius: 3dvh;
        border-color: rgb(0, 0, 0);
        border-width: 2px;
        padding: 10px 10px 10px 10px;

      
        span {
            font-size: 1.4ch;
            font-weight: 00;
            padding-bottom: 10px;

        }
    }

    .button1:hover {
        background-color: rgba(58, 56, 56, 0.273);
        transform: scale(1.1);
        color: white;
        border-color: white;
        margin-right: 20px;
    }

    .button2:hover {
        background-color: rgba(58, 56, 56, 0.273);
        transform: scale(1.1);
        color: white;
        border-color: black;
        margin-left: 10px;
    }
}


 .container1 {
    height: 35vh;
    width: 100%;
    background-color: rgb(255, 255, 255);

    margin-bottom: 0vh;

    h4 {
        color: rgb(0, 0, 0);
    }

    p {
        color: rgb(0, 0, 0);
    }

    i {
        color: rgb(0, 0, 0);
    }

    .dif {
        width: 40px;
        height: 25vh;
        background-color: antiquewhite;
    }
}



.container2 {
    margin: 100px 0px 100px 0px;
   
    background-color: rgb(174, 208, 208);
    border-radius: 1dvb;
    margin-left: 40px;
    margin-right: 40px;




    h1 {
        font-size: 5ch;
        font-weight: 500;
        padding-left: 20px;
    }

    span {
        color: rgb(0, 110, 255);
        font-size: 5ch;
        font-weight: 500;
        padding-left: 20px;

    }

    h3 {
        font-size: 3ch;
        font-weight: 450;
        color: rgb(0, 0, 0);
        padding-left: 20px;
    }

    p {
        font-size: 2.5ch;
        font-weight: 350;
        color: rgba(36, 36, 36, 0.782);
        padding-left: 20px;


    }


    img {
        text-align: center;
    }
}


.container3 {
    margin-bottom: 00px;
    img {
        border-radius: 3dvh;
        background-color: rgb(8, 204, 204);
        transition: 0.5s ease;

    }

    img:hover {
        transform: scale(1.1);
    }
}


/*.container3 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70vh;
    margin-bottom: 300px;

    .card1 {
        background-color: rgb(152, 165, 165);
        height: 50px;
        width: 400px;

        text-align: center;
        padding-top: 10px;
        border-radius: 2dvh;
        margin-bottom: 20px;
        transition: 0.5s ease;


        img {
            border-radius: 2dvh;
        }

        h3 {
            font-size: 2ch;
        }
    }

    .card1:hover {
        transform: scale(1.1);
    }


}*/




.container10 {
    min-height: 30vh;
     font-family: 'PreplyInterV';
    font-family: "Platform", "Platform-fallback", "Platform-fallback-android",
      "Noto Sans", "NotoSans-fallback", "NotoSans-fallback-android", sans-serif;
    .h1 {
      font-size: 58px;
      font-weight: 800;
    }
    .p {
      font-size: 20px;
      font-weight: 400;
    }
  }
  

  .container9 {
    min-height: 95vh;
    position: relative;
    border: 1px solid #282626;
    border-radius: 25px;
    .row{
      position:relative;
      .muliimage {
      position:relative;
      img {
        border-radius: 25px;
        position: absolute; // Position images absolutely within the container
      }
      .img1 {
          z-index: 2;
      }
      .img2 {
       z-index: 1;
      }
      .img3 {
        z-index: 0;
      }
    }
  // text col.text
    .text{
      font-family: "Platform-fallback";
      display: block;
      align-items: center;
      justify-items: center;
      padding-top: 150px;
      padding-left: 80px;
      color: rgb(95, 39, 23);
    }
      @media (max-width: 1200px) {
        min-height: 180vh;

        img {
           width: 380px;
        }
        .img1{
            height: 450;
        }
        .img2{
            height: 420;
        }
        .img3{
            height:370 ;
        }
        .text{
            padding-top: 400px;
            padding-left: 0px;
        }
        // Adjust for smaller screens
    }
    }
  }
  


.container4 {

    text-align: start;
    border-radius: 0dvh;
    margin-top: 100px;


    padding-bottom: 50px;
    background-color: aliceblue;

    h1 {
        margin-top: 20px;
        font-size: 6ch;
        font-weight: 900;

    }
}

.container5 {
    margin: 50px 0px 100px 900px;
    //background-image: url(https://www.bing.com/images/blob?bcid=qBvvkgfR4J8Hr1Q68yTKaUe.Paf3.....74);
    background-color: rgb(237, 225, 209);
    border-radius: 1dvb;
    margin-left: 40px;
    margin-right: 40px;
    padding: 50px;

    h1 {
        font-size: 6ch;
        font-weight: 600;
    }

    span {
        color: rgb(0, 110, 255);
        font-size: 5ch;
        font-weight: 700;

    }

    h2 {
        font-size: 10;
        font-weight: 900;
        color: rgb(0, 0, 0);

    }

    h3 {
        font-size: 3ch;
        font-weight: 400;
        color: rgb(0, 0, 0);
    }

    p {
        font-size: 2ch;
        font-weight: 450;
        color: rgba(2, 2, 2, 0.693);
    }
}

.container6 {
    img {
        border-radius: 3dvh;
        background-color: rgb(8, 204, 204);
        transition: 0.5s ease;
    }

    img:hover {
        transform: scale(1.1);
    }
}


.container7 {
    margin: 100px 0px 100px 0px;
    //background-image: url(https://www.bing.com/images/blob?bcid=qBvvkgfR4J8Hr1Q68yTKaUe.Paf3.....74);
    background-color: rgb(231, 228, 211);
    border-radius: 2dvh;
    margin-left: 40px;
    margin-right: 40px;
    padding: 50px;

    a {
        text-decoration: none;

        h4 {
            color: black;
            padding-bottom: 50px;

        }

        h4:hover {
            text-decoration: underline;
        }
    }

    h1 {
        font-size: 5ch;
        font-weight: 600;

        span {

            color: rgb(0, 110, 255);
        }
    }
}



